@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

body {
    image-rendering: pixelated;
    /*background-color: #dbdbdb;*/
    /*background-image: url(ourobosTurn.gif);
    background-size: cover;*/
    position: relative;
    font-family: "Xanh Mono", monospace;
    font-size: 12px;
    width: 100%;
    overflow-x: hidden;
}

#background-gif{
    position: fixed;
    right: 0px;
    width: auto;
    max-width: 90%;
    height: auto;
    z-index: -100000000;
    opacity: 0.5;
}

#main-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    display: grid;
    column-gap: 0px;
    grid-template-columns: 1080px auto;
    padding: 0px;
    border: 1px solid black;
}



#dungeon {
    position: relative;
}

form {     
    background-color: white;
    height: auto;
    width: auto;
    border: solid 1px black;
    padding: 10px;
    font: sans-serif;
}

#puzzle {

    position: absolute;
    bottom: 30px;
    left: 40%;
    margin-bottom: 20px;
    animation: hoverUpDown 2.5s ease-in-out infinite;
}

@keyframes hoverUpDown {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

#text-in-frame {
    position: absolute;
    top: 200px;
    left: 10%;
    width: auto;
    margin: 0;
    color: #000000;
    background: none;
    text-align: center;
    z-index: 100; 
    border: none;
}